@use "../base/typo";
@use "../abstracts/variable";
@use "../abstracts/placeholders";
@use "../abstracts/mixins";

.mobile-menu {
  &__container {
    @extend %flex-column-center, %reset-marg-pad;
    height: 4vh;
    width: 12vw;
    background-color: #000;
    &:hover {
      cursor: pointer;
    }
  }
  &__barre {
    height: 3px;
    width: 25px;
    background-color: #fff;
  }
}
.header-container {
  @extend %globale-size, %flex-row-start, %reset-marg-pad;
  background: variable.$alpha-bg-path no-repeat 50% 50%;
  background-size: cover;
  &__subctnr {
    @extend %flex-column-center, %reset-marg-pad;
    color: #fff;
    text-align: center;
    & .header-title__primary {
      margin: 0;
      font-size: 4.1rem;
      font-family: variable.$font-alpha;
      font-weight: 600;
      letter-spacing: 1px;
      line-height: 50px;
    }
    & .header-title__secondary {
      margin: 0;
      font-size: 1.2rem;
      font-family: variable.$font-alpha;
      font-weight: 400;
      letter-spacing: 1px;
    }
    & .header-title__separate {
      margin-top: 0;
      height: 8px;
      width: 100%;
      border: none;
      border-radius: 5px;
      background-color: #fff;
    }
    & .header-title__tertiary {
      margin: 15px;
      font-size: 1rem;
      font-family: variable.$font-beta;
      font-weight: 400;
      letter-spacing: 1px;
    }
  }
}
