@use "../base/typo";
@use "../abstracts/variable";
@use "../abstracts/placeholders";
@use "../abstracts/mixins";

.mobile-menu {
  &__container {
    @extend %flex-column-center;
    position: absolute;
    top: 1%;
    left: 95%;
    height: 4vh;
    width: 2.5vw;
    background-color: #000;
    border-radius: 5px;
    &:hover {
      cursor: pointer;
    }
  }
  &__barre {
    height: 3px;
    width: 25px;
    background-color: #fff;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
  }
}
.header-container {
  @extend %flex-row-start, %reset-marg-pad;
  height: 30vh;
  width: 100%;
  overflow: hidden;
  background: variable.$beta-bg-path no-repeat 50% 50%;
  background-size: 100%;
  background-color: #000;
  & .uncrn {
    margin-top: -260px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 1440px; 
    height: 900px;
    z-index: 0;
    mix-blend-mode: screen;
  }
  &__subctnr {
    position: absolute;
    @extend %flex-column-center, %reset-marg-pad;
    color: #fff;
    text-align: center;
    & .header-title__primary {
      margin: 0;
      font-size: 4.1rem;
      font-family: variable.$font-alpha;
      font-weight: 600;
      letter-spacing: 1px;
      line-height: 50px;
    }
    & .header-title__secondary {
      margin: 0;
      font-size: 1.2rem;
      font-family: variable.$font-alpha;
      font-weight: 400;
      letter-spacing: 1px;
    }
    & .header-title__separate {
      margin-top: 0;
      height: 8px;
      width: 100%;
      border: none;
      border-radius: 5px;
      background-color: #fff;
    }
    & .header-title__tertiary {
      margin: 15px;
      font-size: 1rem;
      font-family: variable.$font-beta;
      font-weight: 400;
      letter-spacing: 1px;
    }
  }
}
