@use "../base/typo";
@use "../abstracts/variable";
@use "../abstracts/placeholders";
@use "../abstracts/mixins";

.globale-nav {
  @extend %globale-size, %reset-marg-pad;
  display: none;
  border: 5px solid #fff;
  background-color: #000;
  border-radius: 5px;
  &__subctnr {
    @extend %globale-size, %flex-column-start;
    margin: 0;
    padding: 5px;
    & .nav-el {
      list-style-type: none;
      &__link {
        color: #fff;
        text-decoration: none;
      }
    }
  }
  &.mobileViewNavbar {
    display: block;
  }
}
