@use "../base/typo";
@use "../abstracts/variable";
@use "../abstracts/placeholders";
@use "../abstracts/mixins";

.globale-nav {
  @extend %globale-size, %reset-marg-pad;
  display: none;
  &__subctnr {
    @extend %globale-size, %reset-marg-pad, %flex-column-start;
    & .nav-el {
      list-style-type: none;
      color: #000;
    }
  }
  &.mobileViewNavbar {
    display: block;
  }
}
