%reset-marg-pad {
  margin: 0;
  padding: 0;
}
%globale-size {
  height: auto;
  width: 100%;
}
%auto-size {
  height: auto;
  width: auto;
}
%flex-row-center {
  display: flex;
  flex-flow: row nowrap;
  place-items: center;
  place-content: center space-evenly;
}
%flex-row-start {
  display: flex;
  flex-flow: row nowrap;
  place-items: flex-start;
  place-content: center space-between;
}
%flex-column-center {
  display: flex;
  flex-flow: column nowrap;
  place-items: center;
  place-content: center space-evenly;
}
%flex-column-start {
  display: flex;
  flex-flow: column nowrap;
  place-items: flex-start;
  place-content: flex-start space-evenly;
}