$font-alpha: "Michroma", sans-serif;
$font-beta: "Zalando Sans Expanded", sans-seriff;

$alpha-bg-path: url("../../images/drone_wallpapperA.jpg");
$beta-bg-path: url("../../images/drone_wallpapperB.jpg");
$ceta-bg-path: url("../../images/drone_wallpapperC.jpg");
