$font-alpha: "Michroma", sans-serif;
$font-beta: "Zalando Sans Expanded", sans-seriff;

$alpha-bg-path: url("../images/drone_wallpapperAbig.png");
$beta-bg-path: url("../images/drone_wallpapperBbig.jpg");
$ceta-bg-path: url("../images/drone_wallpapperC.jpg");
