@import url("https://fonts.googleapis.com/css2?family=Michroma&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap");
.category-container, .category-container__menu, .home-container, .home-container__wrapper, .globale-nav, .header-container, .header-container__subctnr {
  margin: 0;
  padding: 0;
}

.category-container, .home-container, .home-container__wrapper, .globale-nav, .globale-nav__subctnr {
  height: auto;
  width: 100%;
}

.header-container {
  display: flex;
  flex-flow: row nowrap;
  place-items: flex-start;
  place-content: center space-between;
}

.home-container__wrapper, .mobile-menu__container, .header-container__subctnr {
  display: flex;
  flex-flow: column nowrap;
  place-items: center;
  place-content: center space-evenly;
}

.category-container__menu, .globale-nav__subctnr {
  display: flex;
  flex-flow: column nowrap;
  place-items: flex-start;
  place-content: flex-start space-evenly;
}

.mobile-menu__container {
  position: absolute;
  top: 1%;
  left: 95%;
  height: 4vh;
  width: 2.5vw;
  background-color: #000;
  border-radius: 5px;
}
.mobile-menu__container:hover {
  cursor: pointer;
}
.mobile-menu__barre {
  height: 3px;
  width: 25px;
  background-color: #fff;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

.header-container {
  height: 30vh;
  width: 100%;
  overflow: hidden;
  background: url("../images/drone_wallpapperBbig.jpg") no-repeat 50% 50%;
  background-size: 100%;
}
.header-container .uncrn {
  margin-top: -260px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 1440px;
  height: 900px;
  z-index: 0;
  mix-blend-mode: screen;
}
.header-container__subctnr {
  position: absolute;
  color: #fff;
  text-align: center;
}
.header-container__subctnr .header-title__primary {
  margin: 0;
  font-size: 4.1rem;
  font-family: "Michroma", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 50px;
}
.header-container__subctnr .header-title__secondary {
  margin: 0;
  font-size: 1.2rem;
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}
.header-container__subctnr .header-title__separate {
  margin-top: 0;
  height: 8px;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: #fff;
}
.header-container__subctnr .header-title__tertiary {
  margin: 15px;
  font-size: 1rem;
  font-family: "Zalando Sans Expanded", sans-seriff;
  font-weight: 400;
  letter-spacing: 1px;
}

.globale-nav {
  display: none;
  border: 5px solid #fff;
  background-color: #000;
  border-radius: 5px;
  box-shadow: 0px 0px 8px #000;
}
.globale-nav__subctnr {
  margin: 0;
  padding: 5px;
}
.globale-nav__subctnr .nav-el {
  list-style-type: none;
}
.globale-nav__subctnr .nav-el__link {
  color: #fff;
  text-decoration: none;
}
.globale-nav.mobileViewNavbar {
  display: block;
}

.home-container__title {
  margin-top: 0;
  font-size: 2.5rem;
  color: #000;
}
.home-container__wrapper {
  mix-blend-mode: difference;
}
.home-container__droneModel {
  margin: 0;
  width: 1440px;
  height: 900px;
}
.home-container__droneWireframe {
  top: 39%;
  left: 17%;
  height: 894px;
  width: 1265px;
  position: absolute;
  opacity: 0.3;
}

.category-container {
  background-color: #fff;
}
.category-container__title {
  margin-top: 0;
  font-size: 2.5rem;
  color: #000;
}
.category-container__el {
  list-style-type: none;
}
.category-container__link {
  color: #000;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

a[href*="unicorn.studio?utm_source=public-url"] {
  display: none !important;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Zalando Sans Expanded", sans-seriff;
  overflow-x: hidden;
}

/*# sourceMappingURL=main.css.map */
