@use "abstracts/variable";
@use "pages/home";
@use "pages/drones";

a[href*="unicorn.studio?utm_source=public-url"] {
  display: none !important;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: variable.$font-beta;
  overflow-x: hidden;
}
