@use "../layout/header";
@use "../layout/nav";
@use "../layout/footer";

.category-container {
  @extend %reset-marg-pad, %globale-size;
  background-color: #000;
  &__title {
    margin-top: 0;
    font-size: 2.5rem;
    color: #fff;
  }
  &__menu {
    @extend %flex-column-start, %reset-marg-pad;
  }
  &__el {
    list-style-type: none;
  }
  &__link {
    color: #fff;
    text-decoration: none;
    transition: 0.2s ease-in-out;
  }
}
