@use "../layout/header";
@use "../layout/nav";
@use "../layout/footer";
@use "../abstracts/variable";

.home-container {
  @extend %reset-marg-pad, %globale-size;
  &__title {
    margin-top: 0;
    font-size: 2.5rem;
    color: #000;
  }
  &__mainwrapper {
    @extend %reset-marg-pad, %globale-size, %flex-row-center;
    & .home-separate {
      margin: 5px;
      height: 65vh;
      width: 1.2vw;
      background-color: #000;
      border: none;
      border-radius: 5px;
    }
    &__subwrapper {
      @extend %reset-marg-pad, %globale-size, %flex-column-center;
    }
    & .home-article {
      @extend %reset-marg-pad, %globale-size, %flex-column-center;
      & .article-title__container {
        @extend %reset-marg-pad, %globale-size, %flex-column-start;
        & .article-title__el {
          margin: 0;
          font-family: variable.$font-alpha;
          font-weight: 600;
          color: #000;
          letter-spacing: 1px;
          border-bottom: 8px solid #000;
          font-size: 3rem;
          text-shadow: 0px 0px 4px #000;
          width: auto;
          &:nth-child(2) {
            font-weight: 500;
            font-size: 1.4rem;
            border: none;
            text-decoration: overline;
            text-shadow: none;
          }
        }
      }
      &__txt {
        width: auto;
        letter-spacing: 1px;
      }
      &__subcontainer {
        @extend %reset-marg-pad, %globale-size, %flex-column-start;
        & .article-detail {
          @extend %reset-marg-pad, %globale-size, %flex-row-center;
          list-style-type: none;
          font-size: 0.8rem;
          letter-spacing: 1px;
          &__firstline {
            @extend %reset-marg-pad;
            font-size: 1.5rem;
            font-family: variable.$font-beta;
            font-weight: 900;
            text-shadow: 0px 0px 3px #000;
          }
        }
      }
    }
  }
  &__droneModel {
    position: relative;
    margin: 0;
    width: 1440px;
    height: 900px;
  }
  &__droneWireframe {
    top: 39.5%;
    left: 5%;
    height: 894px;
    width: 1265px;
    position: absolute;
    opacity: 0.3;
  }
}
