@use "../layout/header";
@use "../layout/nav";
@use "../layout/footer";

.home-container {
  @extend %reset-marg-pad, %globale-size;
  &__title {
    margin-top: 0;
    font-size: 2.5rem;
    color: #000;
  }
  &__wrapper {
    @extend %reset-marg-pad, %globale-size, %flex-column-center;
    mix-blend-mode: difference;
  }
  &__droneModel {
    margin: 0;
    width: 1440px;
    height: 900px;
  }
  &__droneWireframe {
    top: 39%;
    left: 17%;
    height: 894px;
    width: 1265px;
    position: absolute;
    opacity: 0.3;
  }
}
